<!-- start custom head snippets -->
<link rel="alternate" title="{{ page.title }}" type="application/json" href="{{ '/feed.json' | relative_url }}" />

<!-- SEO Customizations -->
<meta name="author" content="{{ site.name }}">
<meta name="article:author" content="{{ site.name }}">

<!-- insert favicons. use https://realfavicongenerator.net/ -->
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/bootstrap-theme.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/bootstrap-icons.css' | relative_url }}">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
<!-- end custom head snippets -->
