a { text-decoration: none;
    color: black;
}

.videos img {
  width: 100%;
  border-radius: 25px;
  box-shadow: 1px 1px 7px 1px #000;
  border: 1px solid #B9B9B9
}

.videos img:hover {
  box-shadow: 5px 2px 15px 2px #000;
}

.videos h1 {
  font-size: 2.2em;
  color: #000;
    text-align: center;
  padding-bottom: 10px;
}

.videos h3 {
  font-size: 1.2em;
  color: #000;
    text-align: center;
  padding-bottom: 10px;
}

.videos time {
  padding-bottom: 10px;
}

@media(min-width: 800px) {
  .videos li {
    width: 80%;
    display: inline-block;
    padding: 1%;
    text-align: center;
  }
}

.video-js.vjs-ended .vjs-poster {
  display: block;
}

.description {
  padding: 25px 5%;
  background-color: #ECECEC;
  box-shadow: 1px 1px 6px 2px #757575;
  border-radius: 10px;
  border: 1px solid #929292;
}


.interested-block {
        width: 100%;
        height: 250px;
        text-align: center;
        background: url('https://d1wfqjcm45bc90.cloudfront.net/footer-top.jpg') center center no-repeat;
        background-size: cover;
        padding: 50px 0px;
        margin: 50px 0px 0px 0px;
}

$marketing-site-footer-bg: #7382A3;
$marketing-site-footer-bottom-bg: #828282;

.marketing-site-footer {
  background: #7382A3;
  font-weight: normal;
  color: lighten(#7382A3, 40%);
  padding: 0rem 0 0 !important;
  margin: 0px 0px 0px 0px;

  .marketing-site-footer-menu-social a {
    color: #FFFFFF;
  }

  .column-block {
    margin-bottom: 5px;
  }

  > .col {
    margin-bottom: 1rem;
  }

  @include media-breakpoint-only(sm) {
    .cell {
      margin-bottom: 2rem;
    }
  }
}

.marketing-site-footer-name {
  color: #FFFFFF;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.marketing-site-footer-title {
  color: #FFFFFF;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.marketing-site-footer-block {
  display: flex;
  margin-bottom: 3rem;

  .fa {
    font-size: 2rem;
    color: darken(#7382A3, 20%);
  }

  p {
    margin-left: 1rem;
    line-height: 1.125rem;
    margin-bottom: 0;
  }

  ul {
  list-style-type: none;
  margin: 0;
  padding: 15px 0 15px 0;
  }

}

.marketing-site-footer-bottom {
  background: darken(#828282, 20%);
  color: #FeFeFe;
  padding: 0rem 0;

    a {
      color: #FeFeFe;
    }

    menu ul li a {
      color: white;
    }
  p,
  .menu {
    margin-bottom: 0;
  }

  .marketing-site-footer-bottom-links {
    justify-content: flex-end;


    @include media-breakpoint-down(md) {
      justify-content: center;
    }
  }

    @include media-breakpoint-down(md) {
    text-align: center;
  }
}

#footer-menu {
    @include media-breakpoint-down(md) {
    display: none;
  }
}

#footer-menu .navbar{
	margin-bottom: 0px !important;
}

#footer-menu .navbar{
	margin-bottom: 0px !important;
}

#footer-menu .nav-link{
	color: #ffffff !important;
}

.navbar {
	padding-left: 20 !important;
        @include media-breakpoint-down(xl) {
	padding-left: 0 !important;
    }
	margin-bottom: 100px !important;
	font-family: 'Montserrat', sans-serif;
}

.nav {
	padding-bottom: (25) !important;
}

.nav-link {
	padding-right: 1.5rem !important;
}

.home{
	margin-top: 50px !important;

}

.video-js {
	width: 1100px !important;
	height: 564px !important;
}

.fa-lg {
	vertical-align: -45% !important;
}

//  MARKETING SITE 3-UP FEATURE SECTION


$marketing-site-three-up-width: 1200px;

.marketing-site-three-up {
  text-align: center;
  padding: 2rem 0;

  .row {
    width: 1200px;
    max-width: $marketing-site-three-up-width;
  }

  .columns {
    margin-bottom: 1rem;

    @media screen and (min-width: 40em) {
      margin-bottom: 0;
    }
  }

  .fa {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}

.marketing-site-three-up-headline {
  margin-bottom: 2rem;
  font-size: 24px;
}

.marketing-content-image {
    width:  275px;
    height: 275px;
    object-fit: cover;
 }

//  MARKETING SITE CONTENT SECTION

 .marketing-site-content-section {
  display: flex;
  flex-wrap: wrap;

  .button.round {
    border-radius: 5000px;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  .marketing-site-content-section-img {
    align-self: center;
    flex: 1 0 100%;

    img {
      width: 100%;
    }

    @media screen and (min-width: 40em) {
      flex: 1 0 50%;
    }
  }

  .marketing-site-content-section-block {
    padding: 1rem;
    flex: 1 0 100%;
    align-self: stretch;
    background: #ECECEC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media screen and (min-width: 40em) {
      flex: 1 0 50%;
      padding: 2rem;
    }
  }
}


//  Simple Content Filter

.filter-simple {
  .button-group {
     justify-content: center; // center the button group
  }

  .filter-simple-button.btn-outline-secondary {
    &.is-active,
    &:focus,
    &:active {
      background-color: #ECECEC;
      color: $white;
    }
  }
}

// optional styles to round the button group edges
.button-group.round {
  :first-child {
    border-radius: 5000px 0 0 5000px;
  }

  :last-child {
    border-radius: 0 5000px 5000px 0;
  }
}

// class that spaces blocks vertically - will be built into Foundation 6.4
.column-block {
  margin-bottom: 30px;
}


.gallery-item {
    width:  350px;
    height: 350px;
    margin-bottom: 50px;
    object-fit: cover;
}

