.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.top_body_div {
   /* background-image: url("https://happypg-staging.s3.amazonaws.com/homepage/top-body-bg.png"); */
   background-color: Gainsboro;
   width: 100%;
   object-fit: cover;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   }


/* marketing site content zurb */

.marketing-site-content-section {
  display: flex;
  flex-wrap: wrap;

  .button.round {
    border-radius: 5000px;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  .marketing-site-content-section-img {
    align-self: center;
    flex: 1 0 100%;

    img {
      width: 100%;
    }

    @media screen and (min-width: 40em) {
      flex: 1 0 50%;
    }
  }

  .marketing-site-content-section-block {
    padding: 1rem;
    flex: 1 0 100%;
    align-self: stretch;
    background: #D3D3D3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media screen and (min-width: 40em) {
      flex: 1 0 50%;
      padding: 2rem;
    }
  }
}

.marketing-site-content-section-block-header {
  font-size: 24px;
}

.marketing-site-content-section-block-subheader {
  font-size: 18px;
}


.mfgImage {
        height: 80px;
}

.saleImage {
        height: 50px;
}

hr.hrClass {
  /* background-color: purple; */
  max-width: 100%;
  margin: 0;
  width: 120%;
  height: 20px;
}

.mfg-image {
    width:  475px;
    height: 575px;
    object-fit: cover;
 }

 /* Simple Content Filter */


.filter-simple {
  .button-group {
     justify-content: center; // center the button group
  }

  .filter-simple-button.hollow {
    &.is-active,
    &:focus,
    &:active {
      background-color: blue;
      color: white;
    }
  }
}

// optional styles to round the button group edges
.button-group.round {
  :first-child {
    border-radius: 5000px 0 0 5000px;
  }

  :last-child {
    border-radius: 0 5000px 5000px 0;
  }
}

// class that spaces blocks vertically - will be built into Foundation 6.4
.gallery-item {
    width:  350px;
    height: 350px;
    margin-bottom: 75;
    object-fit: cover;
}


.featured-image-block-title {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
    color: #404040;
  }
// w3c filter

* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 150px 0px 0px 0px;
  font-family: Arial;
}

/* Center website */
/*.main {
  max-width: 1000px;
  margin: auto;
}*/

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
   color: white;
}

.layout--posts div[role=main] {
	margin: 0px 150px 0px 350px !important;
}

.page__hero--overlay {
	height: 500px;
}

.carousel {
	 margin: auto;
  width: 100%;
  padding: 10px;
    @media screen and (min-width: 64em) { height: 650px; object-fit: cover; }
    @media screen and (min-width: 40em) and (max-width: 63.9375em) { height: 450; object-fit: cover;}
    @media screen and (max-width: 39.9375em) { height: 300px; object-fit: cover; }
}

.orbit-image {
    width: 100%;
    @media screen and (min-width: 64em) { height: 600px; object-fit: cover; }
    @media screen and (min-width: 40em) and (max-width: 63.9375em) { height: 450; object-fit: cover;}
    @media screen and (max-width: 39.9375em) { height: 300px; object-fit: cover; }
  }


  /* home page */

  /* Div banner 1 */
.home_products_div {
   height: 250px;
   background-image: url("https://d1wfqjcm45bc90.cloudfront.net/our-products.jpg");
   object-fit: cover;
   font-family: 'Quicksand', sans-serif;
   margin: 50px 0px 50px 0px;
   padding: 0px 0px 0px 0px;
   }

  /* Div banner 2 */
.home_services_div {
   height: 250px;
   background-image: url("https://d1wfqjcm45bc90.cloudfront.net/our-services.jpg");
   object-fit: cover;
   margin: 50px 0px 50px 0px;
   padding: 0px 0px 0px 0px;
   }

  /* Div banner 3 */
.home_flipcard_div {
   height: 250px;
   background-image: url("https://d1wfqjcm45bc90.cloudfront.net/above-flipcard.jpg");
   object-fit: cover;
   margin: 50px 0px 50px 0px;
   padding: 0px 0px 0px 0px;
   }

  /* Div banner 3 */
.home_photos_div {
   height: 250px;
   background-image: url("https://d1wfqjcm45bc90.cloudfront.net/photos.jpg");
   object-fit: cover;
   margin: 50px 0px 50px 0px;
   padding: 0px 0px 0px 0px;
   }

   @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');


/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    transform-style: preserve-3d;
}

.container .box{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
}

.container .box .body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease;
}



.container .box .body .imgContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.container .box .body .imgContainer img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .box .body .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.container .box:hover .body{
    transform: rotateY(180deg);
}

.container .box .body .content div{
    transform-style: preserve-3d;
    padding: 20px;
    background: linear-gradient(45deg, #FE0061,#FFEB3B);
    transform: translateZ(100px);
}

.container .box .body .content div h3{
    letter-spacing: 1px;
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.caption-1 figcaption {
  position: absolute;
  bottom: 0;
  right: 0;
}

.caption-2 figcaption {
  width: 80%;
  position: absolute;
  bottom: 1rem;
  left: 10%;
  background: rgba(255, 255, 255, 0.6);
}

.caption-3 figcaption {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(-50%);
}



/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/


.border-md {
  border-width: 2px !important;
}

.separator {
  border-bottom: 1px dashed #aaa;
}

.text-small {
  font-size: 0.85rem;
}

.img-fit {
        object-fit: cover;
}

/*
*
* ==========================================
*   Top div background
* ==========================================
*
*/


section {padding:0rem;}
.bg-primary {background-color:#007aeb;color:#fff;}
.bg-gray {
	background-color: #dcdcdc;
	width: 100%;
	padding: 5px 5px 5px 5px;
}


/*
*
* ==========================================
*   Social Nav
* ==========================================
*
*/
.social-li           { display:inline; float:left; margin: 0px 3px 0px 3px; }

#one, #two, #three { list-style:none; display:inline}
#one li            { float:left }
#two li            { display:inline }
#three li          { display:inline-block }


/* It means on screens that are  640px or less, set logo image width 50% and margin and padding auto means on center.*/

@media screen and (max-width: 640px){
.site-logo img {
width: 50% !important;
}
}
